.coming-page {
    height: 100vh;
    &.dashboard {
        background: url("../../assets/coming/dashboard.png") no-repeat center;
        background-size: cover;
    }
    &.swap {
        background: url("../../assets/coming/swap.jpeg") no-repeat center;
        background-size: cover;
    }
    &.overview {
        background: url("../../assets/coming/overview.png") no-repeat center;
        background-size: cover;
    }
    &.governance {
        background: url("../../assets/coming/governance.png") no-repeat center;
        background-size: cover;
    }
    &.quick-swap {
        background: url("../../assets/coming/quick-swap.png") no-repeat center;
        background-size: cover;
    }
    .coming-text {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        font-size: 32px;
        text-align: center;
        color: #15163d;
        margin: auto;
        margin-top: 30%;
        font-weight: 800;
    }
}
