@import '../../../styles/variables';

.mine-page {
    text-align: center;
    color: rgb(91, 57, 38);
    overflow: hidden;
    .icon {
        width: 80px;
        margin: 26px auto 0;
    }
    .BuyButton{
        margin-top: 16px;
    }
    .cheese-box{
        position: relative;
    }
    .total {
        margin-top: 32px;
        .earn {
            color: rgba(255, 255, 255, 0.8);
            text-align: center;
            line-height: 20px;
            margin-bottom: 12px;
        }
        .amount {
            color: rgb(91, 57, 38);
            font-weight: normal;
            font-size: 36px;
            line-height: 52px;
            text-align: center;
        }
        .text {
            color: rgb(170, 149, 133);
            font-weight: normal;
            font-size: 18px;
            line-height: 34px;
            text-align: center;
        }
        .desc {
            color: rgb(170, 149, 133);
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }


    @media screen and (min-width: $MobileWidth-M) {
        .mine-content {
            max-width: 892px;
            width: 100%;
            margin: 64px auto 32px auto;
            overflow: hidden;
            display: flex;
            justify-content: space-around;
            .data-item {
                .data {
                    margin: 0 auto;
                    box-sizing: border-box;
                    border-radius: 20px;
                    height: 100%;
                    display: table-cell;
                    .data-border {
                        width: auto;
                        min-width: 330px;
                        margin: 5px;
                        padding-bottom: 24px;
                        border-radius: 15px;
                        display: inline-block;
                        .price {
                            margin-top: 32px;
                        }
                        .available {
                            margin-top: 24px;
                        }
                        .amount {
                            font-weight: normal;
                            font-size: 36px;
                            line-height: 52px;
                            text-align: center;
                        }
                        .text {
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 34px;
                            text-align: center;
                        }
                        .claim {
                            margin-top: 28px;
                        }
                        .start {
                            margin-top: 38px;
                        }
                        .apy {
                            position: absolute;
                            right: 6px;
                            top: 6px;
                            text-align: center;
                            .title {
                                font-size: 14px;
                                color: rgb(170, 149, 133);
                                line-height: 1;
                                margin-bottom: 2px;
                            }
                            .value {
                                font-size: 15px;
                            }
                        }
                    }
                }
                .desc {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 13px;
                    text-align: center;
                }
            }

            .rate {
                width: auto;
                min-width: 192px;
                overflow: hidden;
                // float: left;
                padding-top: 24px;
                .amount {
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 34px;
                    text-align: center;
                }
                .text {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 26px;
                    text-align: center;
                    margin-bottom: 32px;
                }
            }
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        .mine-content {
            max-width: $MaxWidth;
            width: $BoxContentWidth;
            margin: 34px auto 14px 0;
            display: inline-block;
            flex-direction: row;

            .data-item {
                margin: 24px auto 45px;
                .data {
                    // border: 1px solid rgba(255, 255, 255, 0.5);
                    box-sizing: border-box;
                    border-radius: 20px;
                    display: inline-block;
                    height: 100%;
                    width: $BoxContentWidth;
                    margin: 0 auto 44px 0;

                    .data-border {
                        width: $BoxButWidth-M;
                        margin: 1%;
                        // border: 1px solid rgba(255, 255, 255, 0.5);
                        border-radius: 15px;
                        display: inline-block;
                        .price {
                            margin-top: 32px;
                        }
                        .available {
                            margin-top: 24px;
                        }
                        .amount {
                            font-weight: normal;
                            font-size: 36px;
                            line-height: 52px;
                            text-align: center;
                        }
                        .text {
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 34px;
                            text-align: center;
                        }
                        .claim {
                            margin-top: 28px;
                        }
                        .start {
                            margin-top: 38px;
                        }
                        .apy {
                            position: absolute;
                            right: 6px;
                            top: 6px;
                            text-align: center;
                            .title {
                                font-size: 14px;
                                color: #15163d;
                                line-height: 1;
                                font-size: 18px;
                                margin-bottom: 2px;
                            }
                            .value {
                                font-size: 15px;
                            }
                        }
                    }
                }
                .desc {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 13px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .rate {
                padding-bottom: 52px;
                .amount {
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 34px;
                    text-align: center;
                }
                .text {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 26px;
                    text-align: center;
                    margin-bottom: 32px;
                }
            }
        }
    }

    .clues {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
        margin-top: 6px;
        margin-bottom: 18px;
    }
}
