.project-page {
    // background: #faf9fd;
    .brief-info {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(144, 136, 161, 0.4);
        display: flex;
        align-items: center;
        .title {
            font-size: 24px;
            display: inline-block;
        }
        .date {
            text-align: center;
            display: inline-block;
            margin-left: 16px;
            .hint {
                color: #9088a1;
                font-size: 14px;
            }
        }
        .btn-green {
            margin-left: 16px;
        }
    }
    .middle-area {
        margin: 24px auto;
    }
    .info-item {
        background: #ffffff;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding: 16px 16px;
        margin-bottom: 16px;
        text-align: center;
        .value {
            font-weight: 800;
            font-size: 16px;
            line-height: 1.1;
            margin-bottom: 12px;
            // height: 38px;
            //todo,限制两行
            // overflow: hidden;
        }
        .title {
            color: #9088a1;
            font-size: 14px;
        }
    }
    .top-area {
        background: url("../../assets/paper-bg.jpg") repeat;
        padding-bottom: 32px;
    }

    .handle-area {
        // display: flex;
        // align-items: center;
        // justify-content: flex-end;
        margin: 24px auto 0;
        width: 100%;
        .ant-input-group-wrapper {
            width: 100% !important;
            .ant-input-group-addon {
                background: #48cccc;
                color: #fff;
                border: 1px;
                cursor: pointer;
            }
        }
        .btn-action {
            // margin-left: 12px;
            position: relative;
            font-weight: 600;
            font-size: 18px;
            width: 100%;
            text-align: center;
            height: 40px;
            border: 5px #48cccc solid;
            cursor: pointer;
            transition: all 0.3s;
            .text {
                position: absolute;
                line-height: 30px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                white-space: nowrap;
            }
            .anticon {
                font-size: 14px;
            }
            &:hover {
                background: #48cccc;
                color: #fff;
            }
        }
    }

    .info-box {
        padding: 24px 36px;
        min-height: 350px;
        background: #ffffff;
        margin-bottom: 16px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .stage-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 32px;
            font-size: 18px;
            & > div {
                text-align: center;
            }
            .title {
                font-size: 12px;
                color: #9088a1;
            }
        }
    }

    .tabs {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid rgba(144, 136, 161, 0.4);
        li {
            display: inline-block;
            font-size: 18px;
            line-height: 27px;
            color: #000;
            cursor: pointer;
            padding: 6px 24px;
            &.active {
                color: #48cccc;
                border-bottom: 2px solid #48cccc;
            }
        }
    }

    .bottom-area {
        margin: 16px auto 64px;
    }
    .project-intro {
        margin-top: 32px;
        padding: 16px 24px;
        color: #273460;
        // background: #fff;
        // border: 1px solid #b9b9b9;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            .title {
                font-size: 24px;
                font-weight: 800;
                line-height: 32px;
                margin-bottom: 24px;
            }
        }
        .date-range {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 12px;
            font-weight: 600;
        }

        // .top-box {
        //     background: #fff;
        //     font-size: 18px;
        //     line-height: 24px;
        //     padding: 24px 36px;
        //     .item {
        //         margin-bottom: 16px;
        //         &:last-child {
        //             margin-bottom: 0;
        //         }
        //     }
        // }
        .desc {
            font-size: 18px;
            line-height: 50px;
            margin-top: 18px;
            margin-bottom: 16px;
        }
    }

    // .project-content {
    //     // margin-bottom: 10vh;
    //     // min-height: 150vh;
    //     border: 1px solid #b9b9b9;
    //     padding: 36px 24px;
    //     margin-bottom: 160px;
    //     background: #fff;
    // }
    .votes-bar {
        margin: 12px auto 0;
        width: 100%;
        border-radius: 100px;
        height: 20px;
        margin-bottom: 2px;
        display: flex;
        overflow: hidden;
        background: #d2d2d2;
        .done {
            color: #fff;
            text-align: right;
            background: #28bc81;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
        }
        .undone {
            background: #d2d2d2;
            height: 10px;
        }
    }
    .votes-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        width: 100%;
    }
    // .process-tag {
    //     font-size: 14px;
    //     color: #707070;
    //     white-space: nowrap;
    // }
    @media screen and (max-width: 1200px) {
        .info-box{
            min-height: unset;
        }
    }
    @media screen and (max-width: 992px) {
        .process-tag {
            margin-bottom: 12px;
        }
        .project-main {
            width: 100%;
        }
        .info-item {
            margin-bottom: 16px;
        }
        .middle-area {
            .container {
                padding-left: 24px;
                padding-right: 24px;
            }
            .apy {
                font-size: 16px;
            }
            .tabs {
                li {
                    padding: 2px 4px;
                    font-size: 14px;
                    margin-right: 10px;
                    &.active {
                        font-size: 14px;
                    }
                }
            }
        }
        .project-intro {
            padding: 12px 16px;
            .top-box {
                padding: 12px 16px;
                font-size: 16px;
                line-height: 20px;
            }
            .desc {
                margin-bottom: 32px;
            }
            .handle-area {
                margin-bottom: 24px;
            }
            .top {
                display: block;

                .title {
                    font-size: 18px;
                }
                .apy {
                    font-size: 16px;
                }
            }
        }
    }
}

.en {
    .project-page {
        .middle-area {
            .tabs {
                li {
                    font-size: 16px;
                }
            }
        }
        @media screen and (max-width: 992px) {
            .middle-area {
                .tabs {
                    li {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
