.process-module {
    min-height: 100vh;
    color: #273460;
    .process-item {
        padding: 20px 12px;
        margin-bottom: 12px;
        background: #fff;
        display: flex;
        align-items: center;
        .title {
            color: #9088a1;
        }
        .left {
            width: 25%;
            // padding: 0 20px;
            text-align: center;
            border-right: 1px solid rgba(21, 22, 61, 0.4);
            margin-right: 24px;
            .value {
                font-size: 28px;
            }
        }

        .vs-bar {
            display: flex;
            color: #fff;
            height: 8px;
            overflow: hidden;
            border-radius: 5px;
            margin: 8px auto 0;
            .yes {
                background: #28bc81;
                text-align: right;
                padding: 0 12px;
            }
            .no {
                background: #be2828;
                text-align: left;
                padding: 0 12px;
            }
        }
        .vote-action {
            text-align: center;
            .ant-btn {
                margin: 0 8px;
            }
        }
        // .text-area {
        //     font-size: 16px;
        //     line-height: 48px;
        //     font-weight: 200px;
        //     div strong {
        //         font-weight: 300px;
        //         font-size: 18px;
        //     }
        // }
        .right {
            width: 75%;
            .desc {
                font-size: 18px;
                margin-top: 4px;
            }
            .status {
                &.Finished {
                    color: #28bc81;
                }
                &.Closed {
                    color: #be2828;
                }
                &.Active {
                    color: #0000f8;
                }
            }
        }
        .desc-title {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 12px;
        }
        .description {
            font-size: 20px;
            line-height: 27px;
        }
        .votes-title {
            margin-top: 32px;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 12px;
        }
        .vote-result {
            color: #acb1c2;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .handle-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 0 32px;

            .btn-green {
                min-width: 120px;
                margin-left: 44px;
            }
        }
    }
    @media screen and (max-width: 992px) {
        .process-item {
            padding: 24px 5px 24px;
            .right {
                display: block;
                margin-bottom: 4px;
                .title {
                    font-size: 18px;
                    margin-bottom: 4px;
                }
                .date {
                    font-size: 16px;
                }
                .status {
                    font-size: 16px;
                }
            }
            // .text-area {
            //     font-size: 16px;
            // }
            .handle-area {
                margin: 24px 0;
            }
        }
    }
}
