.process-module {
    color: #273460;
    .process-item {
        padding: 32px 5px 56px;
        border-top: 0.5px solid #000;
        border-bottom: 0.5px solid #000;
        //margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
        .vs-bar {
            display: flex;
            color: #fff;
            height: 8px;
            overflow: hidden;
            border-radius: 5px;
            margin: 8px auto 0;
            .yes {
                background: #28BC81;
                text-align: right;
                padding: 0 12px;
            }
            .no {
                background: #BE2828;
                text-align: left;
                padding: 0 12px;
            }
        }
        .vote-action{
            text-align: center;
            .ant-btn{
                margin: 0 8px;
            }
        }
        .text-area {
            font-size: 16px;
            line-height: 48px;
            font-weight: 200px;
            div strong{
                font-weight: 300px;
                font-size: 18px;
            }
        }
        .top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-weight: 800;
            margin-bottom: 12px;
            .title {
                font-size: 20px;
                line-height: 27px;
            }
            .date {
                color: #ACB1C2;
                font-size: 18px;
                line-height: 24px;
            }
            .status {
                font-size: 18px;
                line-height: 24px;
                text-align: right;
                padding-left: 6px;
                
                &.Finished {
                    color: #28bc81;
                }
                &.Closed {
                    color: #be2828;
                }
                &.Active {
                    color: #0000f8;
                }
            }
        }
        .desc-title {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 12px;
        }
        .description {
            font-size: 20px;
            line-height: 27px;
        }
        .votes-title {
            margin-top: 32px;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 12px;
        }
        .vote-result{
            color: #ACB1C2;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .handle-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 0 32px;

            .btn-green {
                min-width: 120px;
                margin-left: 44px;
            }
        }
    }
    @media screen and (max-width: 992px) {
        .process-item {
            .text-area {
                font-size: 16px;
            }
            .handle-area {
                margin: 24px 0;
            }
        }
    }
}
