.process-module {
    .process-item {
        padding: 12px 20px;
        border: 1px solid #707070;
        color: #707070;
        margin-bottom: 32px;
        &:last-child{
            margin-bottom:  0;
        }
       
        .text-area{
            font-size: 20px;
            line-height: 40px;
        }
        .top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-weight: 800;
            .title {
                font-size: 20px;
                line-height: 27px;
            }
            .date {
                font-size: 18px;
                line-height: 24px;
            }
            .status {
                font-size: 18px;
                line-height: 24px;
                text-align: right;
                &.finish {
                    color: #28bc81;
                }
                &.close {
                    color: #be2828;
                }
                &.planning{
                    color: #0000F8;
                }
            }
        }
        .desc-title {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 12px;
        }
        .description {
            font-size: 20px;
            line-height: 27px;
        }
        .votes-title {
            margin-top: 32px;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 12px;
        }
        .votes-bar {
            border-radius: 5px;
            height: 10px;
            margin-bottom: 10px;
            display: flex;
            overflow: hidden;
            background:#D2D2D2;
            .done {
                background: #28bc81;
                height: 10px;
            }
            .undone {
                background:#D2D2D2;
                height: 10px;
            }
        }
        .handle-area{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 40px 0;
            .btn-green{
                min-width: 120px;
                margin-left: 44px;
            }
        }
        .process-tag{
            font-size: 14px;
            color: #707070;
        }
    }
    @media screen and (max-width: 992px){
        .process-item{
            .text-area{
                font-size: 16px;
            }
            .handle-area{
                margin: 24px 0;
                
            }
        }
    }
}
