.detail-module {
    min-height: 100vh;
    #my-pdf {
        width: 100% !important;
        canvas {
            width: 100% !important;
        }
    }
    .pdf-area{
        margin: 44px auto;
    }
    // .article{
    //     color: #000;
    //     font-size: 18px;
    //     line-height: 34px;
    // }
    .text-line{
        display: flex;
        align-items: flex-start;
        // justify-content: space-between;
        color: #000;
        font-size: 17px;
        line-height: 34px;
        margin-bottom: 12px;
        div:first-child{
            flex: 1;
        }
        div:last-child{
            flex: 3;
        }
    }

    // @media screen and (max-width: 992px){
    //     .article{
    //         font-size: 16px;
    //         line-height: 28px;
    //     }
    // }
}
