.create-project-page {
    color: #15163d;
    background-size: 100%;
    .h1 {
        font-size: 24px;
        font-weight: 800;
        margin: 44px auto 32px;
    }
    .uploaded-box {
        color: #111;
        margin-top: 8px;
    }
    .btn-tabs {
        .ant-radio-button-wrapper {
            margin-right: 20px;
            color: #15163d;
            padding: 0 24px;
            height: 40px;
            line-height: 40px;
            opacity: 0.3;
            border: 1px solid #839cdc !important;
            &::before {
                display: none;
            }
            &.ant-radio-button-wrapper-checked {
                opacity: 1;
            }
        }
    }
    .softtop-value {
        font-weight: 600;
        color: #000;
    }

    .form-item {
        margin-bottom: 20px;
        .label {
            color: #000;
            margin-top: 30px;
            margin-bottom: 4px;
        }
        .hint {
            margin-top: 4px;
            font-size: 12px;
            color: #9088a1;
            &.red {
                color: red;
            }
        }
        .handle-icon {
            font-size: 20px;
            margin-left: 8px;
            cursor: pointer;
            vertical-align: middle;
        }
    }
    .form-block {
        margin-bottom: 56px;
        .form-item {
            margin-bottom: 12px;
            .label{
                margin-top: 12px;
            }
        }
    }
    .assets-rule-title {
        font-size: 20px;
        margin-bottom: 32px;
        line-height: 27px;
    }
    .step-6 {
        font-size: 16px;
        line-height: 27px;
        .title {
            margin-bottom: 15px;
        }

        .process-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 800;
            margin-bottom: 8px;
        }
    }
    .step-pay {
        .num {
            font-size: 24px;
            font-weight: 700;
            padding: 0 16px;
        }
        .dada-circle {
            width: 200px;
            height: 200px;
            border: 6px solid #48cccc;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 16px;
            border-radius: 100%;
            font-size: 16px;
            &.success {
                font-size: 26px;
            }
        }

        .btn-pay {
            margin-left: 12px;
            background: #839cdc;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            height: 32px;
            display: inline-block;
            line-height: 32px;
            font-size: 18px;
            padding: 0 24px;
            color: #fff;
        }
        .pay-hint {
            color: #010101;
            font-size: 14px;
            line-height: 25px;
            width: 80%;
            margin: 0 auto;
        }
        .hint {
            margin-top: 32px;
        }
    }

    .step-sidebar {
        position: sticky;
        top: 10vh;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 50px;
        }

        .circle {
            width: 20px;
            height: 20px;
            //background: #c2c2c2;
            border: 3px solid #c2c2c2;
            border-radius: 100%;
            display: inline-block;
            margin-right: 12px;
            vertical-align: middle;
            transition: all 1s;
            &.active {
                border: 3px solid #48cccc;
                //background: rgba(0,0,0,0.03);
            }
            &.done {
                background: #48cccc;
                border: 3px solid #48cccc;
            }
        }
        .stepinfo {
            font-size: 18px;
            line-height: 26px;
            vertical-align: middle;
            color: #dadada;
            transition: all 0.7s;
            &.done {
                color: #273460;
            }
        }
    }
    @media screen and (max-width: 992px) {
        .step-sidebar {
            li {
                margin-bottom: 24px;
            }
            .circle {
                width: 20px;
                height: 20px;
                margin-right: 8px;
                &.active {
                    border: 3px solid #48cccc;
                }
            }
            span {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .step-control {
            .ant-btn {
                padding: 0 16px;
                height: 32px;
                font-size: 16px;
            }
            .hint {
                display: none;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .step-6 {
            font-size: 14px;
            .confirm-box-long {
                padding: 12px 16px;
                .line {
                    .name {
                        flex: 1;
                    }
                    .value {
                        flex: 1;
                    }
                }
            }
        }
        .assets-rule-title {
            font-size: 18px;
            margin-bottom: 24px;
            line-height: 24px;
        }
        .assets-rule-item {
            padding: 12px 16px 16px;
        }

        .form-item {
            margin-bottom: 0;
            .label {
                font-size: 16px;
                line-height: 24px;
                margin-top: 16px;
            }
            input {
                max-width: 100% !important;
            }
        }

        .step-sidebar {
            li {
                display: inline-block;
                margin-right: 12px;
            }
        }
    }
}
.en {
    .create-project-page {
        .step-control {
            .line-btn {
                font-size: 22px;
            }
            .btn-confirm {
                span {
                    font-size: 20px;
                }
            }
        }
    }
    .step-sidebar {
        span {
            font-size: 16px;
        }
    }
}
