.vote-module {
    .vote-item {
        padding: 12px 20px;
        border: 1px solid #707070;
        color: #707070;

        .top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-weight: 800;
            .title {
                font-size: 20px;
                line-height: 27px;
            }
            .date {
                font-size: 18px;
                line-height: 24px;
            }
            .status {
                font-size: 18px;
                line-height: 24px;
                text-align: right;
                &.pass {
                    color: #28bc81;
                }
                &.fail {
                    color: #be2828;
                }
            }
        }
        .desc-title {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 12px;
        }
        .description {
            font-size: 20px;
            line-height: 27px;
        }
        .votes-title {
            margin-top: 32px;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 12px;
        }
        .votes-bar {
            border-radius: 5px;
            height: 10px;
            margin-bottom: 10px;
            display: flex;
            overflow: hidden;
            .approve {
                background: #28bc81;
                height: 10px;
            }
            .object {
                background: #be2828;
                height: 10px;
            }
        }
        .votes-analyze{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            color: #707070;
        }
    }
}
