.crypto-mining {
    overflow: hidden;
    padding-bottom: 44px;



    .crypto-mining-tab {
        padding: 24px 0;
        border-bottom: 2px solid rgba(171, 171, 171, 0.5);

        div {
            background: #FFFFFF;
            box-shadow: 2px 4px 11px rgba(232, 195, 213, 0.3);
            border-radius: 10px;
            text-align: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            display: inline-block;
            margin-right: 12px;
            cursor: pointer;
        }

        .active {
            background: #FFEC78;
        }
    }

    .crypto-mining-list {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;

        .ant-row {
            width: 100%;
        }

        .item {
            margin: 24px 22px 0 22px;
            margin-top: 24px;
            background: #FFFFFF;
            box-shadow: 2px 4px 11px rgba(232, 195, 213, 0.3);
            border-radius: 15px;
            padding: 26px;
            position: relative;
            box-sizing: border-box;


            .name {

                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                color: #000000;
                margin-top: 5px;
                flex: none;
            }

            .days {
                height: 24px;
                border-radius: 5px;
                color: #3F7FFF;
                line-height: 24px;
                text-align: center;
                background: #B8D0FF;
                padding: 0 24px;
                float: right;
                font-size: 14px;
            }

            .active {
                height: 24px;
                border-radius: 5px;
                line-height: 24px;
                text-align: center;
                color: #4BC16C;
                background: #CEF1D8;
                padding: 0 24px;
                float: right;
                font-size: 14px;
            }

            .finish {
                height: 24px;
                border-radius: 5px;
                line-height: 24px;
                text-align: center;
                color: #9E9E9E;
                background: #E4E4E4;
                padding: 0 24px;
                float: right;
                font-size: 14px;
            }

            .network {
                position: absolute;
                right: 8px;
                bottom: 4px;
                width: 14px;
            }

            .network-name {
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 10px;
            }

            .logo {
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                display: inline-block;
            }

            .Asingle {
                padding: 0 20px;
                height: 40px;
                background: #FFEC78;
                border-radius: 10px;
                font-size: 14px;
                line-height: 40px;
                text-align: center;
                color: #000000;

            }

            .multiple {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: space-between;

                a {
                    flex: 0 0 48%;
                    box-sizing: border-box;
                    background: #FFEC78;
                    border-radius: 10px;
                    font-size: 14px;
                    line-height: 40px;
                    padding: 0 20px;
                    height: 40px;
                    text-align: center;
                    color: #000000;

                    &:last-child() {
                        margin-left: 4%;
                    }
                }

            }

            &:hover {
                box-shadow: 2px 4px 11px rgba(232, 195, 213, 0.1);
            }
        }


    }


    .upcoming-pools-list {

        .item {
            overflow: hidden;
            background: #FFFFFF;
            border: 1px solid #3F7FFF;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 30px 28px 36px 28px;
            margin: 38px 22px 0 22px;

            .top {
                display: flex;
                justify-content: space-between;

                img {
                    width: 66px;
                    height: 66px;
                    display: inline-block;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }

                span {
                    height: 34px;
                    background: #B8D0FF;
                    border-radius: 5px;
                    color: #3F7FFF;
                    font-size: 14px;
                    text-align: center;
                    line-height: 34px;
                    padding: 0 20px;
                }
            }

            .name {
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: #000000;
                margin-top: 8px;

            }

            .raise {
                font-size: 14px;
                line-height: 18px;
                color: #000000;
            }

            .raise-data {
                font-size: 12px;
                line-height: 16px;
                color: #3F7FFF;
            }

            .data-list {
                margin-top: 6px;
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;

                .data-list-item {
                    flex: 0 0 32%;
                    box-sizing: border-box;
                }

                .data-list-item:nth-child(2) {
                    margin-left: 2%;
                    text-align: center;
                }

                .data-list-item:nth-child(3) {
                    margin-left: 2%;
                    text-align: right;

                }
            }


            &:hover {
                border: 1px solid #DE6605;
                box-sizing: border-box;
                box-shadow: 4px 4px 4px #E9E2DD;
            }
        }




    }

    @media (max-width: 576px) {
        .crypto-mining-tab {
            padding: 24px 0;
            border-bottom: 2px solid rgba(171, 171, 171, 0.5);

            div {
                box-shadow: 2px 4px 11px rgba(232, 195, 213, 0.3);
                border-radius: 10px;
                text-align: center;
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                display: inline-block;
                margin-right: 12px;
                cursor: pointer;
                font-size: 12px;
                width: calc(50% - 12px);
                margin-bottom: 12px;
            }

            .active {
                background: #FFEC78;
            }
        }

        .crypto-mining-list {
            .item {
                margin: 22px 6px 0 6px;
                padding: 12px 10px;
            }
        }

        .upcoming-pools-list {
            .item {
                margin: 22px 6px 0 6px;
                padding: 12px 10px;

                .top {
                    span {
                        font-size: 12px;
                        padding: 0 2px;
                    }
                }
            }
        }

    }
}