
.farming-page {
    .farming-top {
        .title {
            font-size: 20px;
            line-height: 22px;
            color: rgb(91, 57, 38);
        }
        .desc {
            margin-top: 20px;
            font-size: 16px;
            line-height: 22%;
            margin-bottom: 26px;
            color: rgb(170, 149, 133);
            margin-bottom: 35px;
        }
    }
    .farming-item {
        text-align: center;
        .icon {
            width: 80px;
            margin: 26px auto 18px;
        }
        .title {
            font-size: 18px;
            line-height: 36px;
            color: rgb(91, 57, 38);
            font-weight: 500px;
        }
        .desc {
            font-size: 14px;
            line-height: 22px;
            color: rgb(128, 94, 73);

        }
        .ant-btn {
            width: 80%;
            margin: 16px auto 16px;
            line-height: 1;
            height: 48px;
        }
        .apy-box {
            color: rgb(170, 149, 132);
            padding: 4px 10px;
            font-size: 14px;
            background: #ffffff;
            border: 1px solid rgb(230, 220, 213);
            border-radius: 8px;
            margin: 0 16px 6px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
