.ask-modal {
   
    .handle-area{
        text-align: center;
        margin: 20px auto 4px;
    }
    .assets-rule-item{
        width: 100%;
        .form-item{
            margin-bottom: 24px;
        }
    }
    // .safe-zone {
    //     width: 80%;
    //     margin: 32px auto;
    // }
}
