.header {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 80px;
    }

    .btn-connect {
        background: rgba(255, 236, 118, 0.4);
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        padding: 0 32px;
        border-radius: 5px;
    }
    nav {
        display: flex;
        align-items: center;
        .role {
            display: inline-block;
            font-size: 16px;
            margin-left: 16px;
            line-height: 1;
            text-align: center;
            .title {
                font-size: 12px;
                margin-top: 4px;
                color: #9088a1;
            }
        }
        a {
            font-size: 16px;
            color: #000;
            font-weight: 800;
            vertical-align: middle;
            margin-left: 16px;
            padding: 8px 4px;
        }
    }
    @media screen and (max-width: 768px) {
        .container {
            width: 98%;
        }
        .logo {
            width: 52px;
        }
        nav {
            text-align: right;
            a {
                font-size: 14px;
                margin-left: 8px;
                &:hover {
                    font-size: 14px;
                }
                .en & {
                    font-size: 12px;
                    margin-left: 4px;
                }
            }
            .hint {
                display: none;
            }
            .mobile-hint {
                display: block;
            }
        }
    }
}
