.header {
    padding: 24px 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        max-width: unset;
    }
    .logo {
        width: 80px;
    }
    nav {
        font-size: 20px;
        a {
            color: #707070;
            vertical-align: middle;
        }
        .ant-btn{
            vertical-align: middle;
        }
    }
}
