.comments-module {
    min-height: 100vh;
    .comment-item {
        color: #000;
        padding: 20px 0;
        border-bottom: 1px solid #707070;
        &:first-child{
            padding: 0 0 20px;
        }
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            .id {
            }
            .address {
                font-weight: 500;
                font-size: 16px;
                line-height: 34px;
                &:hover{
                    color: #3dab9a;
                    cursor: pointer;
                }
            }
        }
        .description {
            font-size: 16px;
            color: rgba(0,0,0,0.7);
            margin-bottom: 12px;
        }
        .content-text{
            font-weight: 700;
            font-size: 18px;
            margin-top: 5px;
            color: rgba(0,0,0,0.9);
        }
        .date {
            color: rgba(0,0,0,0.5);
            text-align: right;
            font-weight: 600;
            font-size: 14px;
            line-height: 34px;
        }
    }
}
