.timespan {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    .num {
        text-align: center;
        font-size: 20px;
        padding: 8px 0;
        width: 64px;
        border-radius: 5px;
        display: inline-block;
        margin-right: 12px;
    }
    .unit {
        font-size: 24px;
        margin-right: 12px;
        color: #000;
    }
}
