.sidebar {
    color: #010101;
    padding: 2px;
    .block {
        .title {
            color: #010101;
            font-weight: 800;
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 8px;
        }
        .box {
            //border: 1px solid #b9b9b9;
            background: rgba(255, 255, 255, 0.1);
            padding: 16px 12px;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 24px;
            .box-item {
                background: rgba(255, 255, 255, 0.65);
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                &:hover {
                    color: darkcyan;
                }
                .status-pass {
                    color: #28bc81;
                }
                .status-fail {
                    color: #be2828;
                }
            }
            .box-item-doc {
                //background: rgba(255,255,255,0.65);
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                &:hover {
                    color: darkcyan;
                }
            }
        }
        .supporter-box {
            overflow-y: auto;
            max-height: 300px;
            padding: 0;
            border-bottom: none;
            //overflow滚动条样式
            &::-webkit-scrollbar {
                width: 14px;
                height: 14px;
            }

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
                border-radius: 999px;
                border: 5px solid transparent;
            }

            &::-webkit-scrollbar-track {
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
            }

            &::-webkit-scrollbar-thumb {
                min-height: 20px;
                background-clip: content-box;
                box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
            }

            &::-webkit-scrollbar-corner {
                background: transparent;
            }
            //overflow滚动条样式

            .box-item {
                padding: 4px 6px;
                //border-bottom: 1px solid #B9B9B9;
                position: relative;
                .progress {
                    background: #b1daf2;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 20%;
                    border-right: 1px solid #b9b9b9;
                }
                .texts {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    z-index: 10;
                }
            }
        }
        .my-share-box {
            color: #fff;
            background: linear-gradient(278.19deg, #9088a1 -8.99%, #15163d 102.32%);
            min-height: 350px;
            margin-bottom: 16px;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 4px 24px;
            font-size: 16px;
            line-height: 27px;
            .line {
                display: flex;
                padding: 12px 0;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    @media screen and (max-width: 1200px) {
        .block {
            .my-share-box {
                min-height: unset;
            }
        }
    }
}
