.token-swap {
    color: #15163d;
    .header {
        justify-content: flex-end;
    }
    .swap-card {
        background: #ffffff;
        box-shadow: 6px 6px 12px rgba(166, 146, 110, 0.15);
        border-radius: 12px;
        padding: 20px;
        .caret {
            color: #9088a1;
            font-size: 10px;
        }
        .tabs {
            margin-bottom: 32px;
            .tab {
                cursor: pointer;
                font-size: 14px;
                line-height: 18px;
                color: #9088a1;
                margin-right: 32px;
                &.active {
                    color: #15163d;
                }
            }
        }
        .token-box {
            background: #ffffff;
            border: 1px solid rgba(144, 136, 161, 0.2);
            box-sizing: border-box;
            border-radius: 5px;
            padding: 5px 8px 10px;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;
            }
            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .title {
                font-size: 10px;
                line-height: 13px;
            }
            .balance-title {
                font-size: 10px;
                line-height: 13px;
                color: #9088a1;
                padding-right: 12px;
            }
            .balance-num {
                font-size: 10px;
                line-height: 13px;
            }
            .max {
                font-size: 10px;
                line-height: 13px;
                text-align: center;
                display: inline-block;
                padding: 4px 8px;
                border: 1px solid #15163d;
                margin-right: 12px;
                border-radius: 5px;
                cursor: pointer;
            }
            .ant-input {
                background: none;
                border: none;
                color: #15163d;
                font-size: 18px;
                line-height: 24px;
                &::placeholder {
                    color: #9088a1;
                }
            }
            .token-select {
                font-size: 14px;
                line-height: 18px;
                display: inline-block;
                background: rgba(253, 164, 164, 0.2);
                border-radius: 5px;
                cursor: pointer;
                padding: 6px 10px;
            }
        }
        .arrow-down {
            margin: 12px auto;
            width: 12px;
            display: block;
            cursor: pointer;
        }
        .exchange-rate {
            font-size: 10px;
            line-height: 13px;
            padding: 8px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .handle-area {
            display: flex;
            margin-top: 4px;
            .ant-btn {
                width: 100%;
                font-size: 14px;
                padding: 4px 0;
                border-radius: 5px;
                box-sizing: content-box;
                box-shadow: none;
                &:nth-child(even) {
                    margin-left: 20px;
                }
            }
        }
        .advanced-trigger {
            cursor: pointer;
            margin-top: 16px;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }
    }
}
