.footer{
    text-align: center;
    background: url('../../assets/paper-bg.jpg') repeat;
    padding: 24px 0 0;
    .footer-logo{
        width: 120px;
        margin: 0 64px;
    }
    a{
        color: #000000;
        font-size: 20px;
        line-height: 27px;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        padding: 4px 8px;
    }
    .copyright{
        color: #707070;
        font-size: 20px;
        padding: 44px 0 12px;
    }
    @media screen and (max-width: 768px){
        .footer-logo{
            margin: 0 24px;
            width: 90px;
        }
        a{
            font-size: 18px;
        }
        .copyright{
            font-size: 16px;
            padding: 24px 0 8px;
        }
    }
}