@import "~antd/dist/antd.css";
.App {
    word-break: keep-all;
    background: radial-gradient(57.44% 57.44% at 36.11% 100%, #ffebc4 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(50% 66.76% at 23.92% 50%, rgba(131, 156, 220, 0.17) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(44.76% 114.58% at 100% 58.44%, rgba(255, 229, 137, 0.54) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(93.02% 109.47% at 0% 0%, rgba(255, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0) 65.72%),
        radial-gradient(74.31% 190.22% at 100% 0%, rgba(72, 204, 204, 0.21) 0%, rgba(255, 255, 255, 0) 100%);
    @media screen and (max-width: 992px) {
        word-break: unset;
    }
}

.content-wrapper {
    height: 100vh;
    overflow-y: scroll;
    padding: 0 48px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.line-btn {
    //border-top: 1px solid #707070;
    //border-bottom: 1px solid #707070;
}

.container {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Myriad Pro", "Hiragino Sans GB", "Microsoft YaHei",
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.btn-trans {
    color: #a7d4cc;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #8fccc3;
    &:hover,
    &:focus {
        color: #61867f;
        border: 1px solid #8fccc3;
        background: transparent;
    }
}

.btn-green {
    color: #fff;
    background: #48cccc;
    border-radius: 99px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    border: none;
    &:hover,
    &:focus {
        color: #fff;
        background: #3dab9a;
    }
}

.btn-red {
    color: #fff;
    background: #c72c2c;
    border-radius: 99px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    border: none;
    &:hover,
    &:focus {
        color: #fff;
        background: #c72c2c;
    }
}

.btn-action {
    color: #273460;
    background: transparent;
    border: 5px solid #48cccc;
    &:hover,
    &:focus {
        color: #273460;
        background: transparent;
        border: 5px solid #48cccc;
    }
}

.btn-white {
    color: #000000;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 6px rgba(100, 100, 100, 0.4);
    border: none;
    &:hover,
    &:focus {
        color: #000000;
        background: #f7f7f7;
    }
}
.btn-grey {
    color: #fff;
    background: #707070;
    border-radius: 99px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    border: none;
    &:hover,
    &:focus {
        color: #fff;
        background: #707070;
    }
}

img {
    max-width: 100%;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .content-container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .content-container {
        width: 95%;
    }
}

// .with-line {
//     display: inline-block;
//     position: relative;
//     span {
//         z-index: 10;
//         position: relative;
//     }
//     &::after {
//         content: "";
//         display: block;
//         position: absolute;
//         bottom: 6px;
//         left: 28px;
//         height: 8px;
//         width: 100%;
//         background: #3dffbe;
//     }
// }

.hint-block {
    color: #15163d;
    font-size: 14px;
    line-height: 27px;
    background: rgba(72, 204, 204, 0.3);
    padding: 12px;
    border-radius: 10px;
    &.small {
        font-size: 14px;
        line-height: 25px;
        padding: 12px 44px 12px 8px;
    }
}

.form-item {
    input,
    textarea {
        border-radius: 6px;
    }
}

.ant-slider-track {
    background-color: #48cccc !important;
}

.assets-rule-item {
    border: 1px solid #75d9d9;
    box-shadow: 0px 3px 6px rgba(200, 200, 200, 0.16);
    border-radius: 6px;
    padding: 14px 24px;
    margin-bottom: 16px;
    position: relative;
    transition: all 0.5s;
    .ant-picker {
        width: 100%;
    }
    .form-item {
        div.label {
            margin-top: 0;
        }
    }
    .remove-btn {
        position: absolute;
        top: 12px;
        z-index: 10;
        cursor: pointer;
        font-size: 24px;
        right: 12px;
    }
}

.add-item-box {
    background: #f9f9f9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    padding: 20px 0;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.25);
    }
}

.confirm-box {
    background: #fefefe;
    //border: 1px solid #bbbbbb;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    padding: 18px 22px;
    margin-bottom: 16px;
    border-radius: 15px;
    position: relative;
    .status {
        position: absolute;
        top: 8px;
        font-size: 16px;
        font-weight: 800;
        right: 8px;
        &.finish {
            color: #28bc81;
        }
        &.edit {
            color: #285ae4;
        }
    }
    .line {
        display: flex;
        margin: 8px auto;
        .name {
            flex: 1;
            color: #b7b7b7;
        }
        .value {
            flex: 2;
            color: #3a3a3a;
        }
    }
}

.dada-circle {
    width: 200px;
    height: 200px;
    border: 6px solid #48cccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 32px;
    border-radius: 100%;
    font-size: 20px;
    &.success {
        background: #48cccc;
        color: #fff;
    }
    &.error {
        background: red;
        color: #fff;
    }
}

.breadcrumb {
    li {
        display: inline-block;
        color: #15163d;
        opacity: 0.4;
        &.done {
            opacity: 1;
        }
        &::after {
            content: "";
            background: url("./assets/breadcrumb-arrow.svg") no-repeat;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 12px;
            background-size: 100%;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.main-breadcrumb {
    li {
        display: inline-block;
        color: #9088a1;
        &.done {
            color: #15163d;
        }
        &::after {
            content: "";
            background: url("./assets/main-breadcrumb-arrow.svg") no-repeat;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 12px;
            background-size: 100%;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.card-board {
    padding: 32px;
    margin-bottom: 64px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 4px 4px 12px #ccc;
}
.red {
    color: red;
}

.govern-rule-img {
    margin: 44px auto;
}

//创建项目和投票时候的下面操作区域
.step-control {
    width: 100%;
    margin: 56px auto 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hint {
        font-size: 16px;
        font-weight: 1000;
        color: #ff0000;
        margin-right: 12px;
    }
    .hint-gasfee {
        padding-top: 10px;
        position: absolute;
        right: 80px;
    }
    .line-btn {
        cursor: pointer;
        padding: 4px 26px;
        font-size: 20px;
        border-radius: 5px;
        color: #15163d;
        transition: all 0.5s;
        border: 1px solid #839cdc;
    }
    .btn-confirm {
        position: relative;
        font-weight: 500;
        font-size: 22px;
        width: 6em;
        height: 50px;
        border: 5px #48cccc solid;
        border-radius: 10px;
        cursor: pointer;
        transition: all 1s;
        .text {
            position: absolute;
            line-height: 40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            white-space: nowrap;
        }
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 100%;
            background: #48cccc;
            z-index: 1;
            transition: all 0.7s;
        }
        &:hover::before {
            width: 100%;
        }
        &:hover {
            color: white;
        }
    }
}

.ant-picker,
.ant-input-number,
.ant-input,
.ant-input-affix-wrapper {
    border: 1px solid #839cdc;
    &:hover,
    &:focus {
        border: 1px solid #839cdc;
        outline: none;
        box-shadow: unset;
    }
}
