@import "~antd/dist/antd.css";

.App {
}

.line-btn {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.btn-trans {
    color: #a7d4cc;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #8fccc3;
    &:hover,
    &:focus {
        color: #61867f;
        border: 1px solid #8fccc3;
        background: transparent;
    }
}

.btn-green {
    color: #fff;
    background: #48cccc;
    border-radius: 99px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    border: none;
    &:hover,
    &:focus {
        color: #fff;
        background: #3dab9a;
    }
}

.btn-red {
    color: #fff;
    background: #c72c2c;
    border-radius: 99px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    border: none;
    &:hover,
    &:focus {
        color: #fff;
        background: #c72c2c;
    }
}


.btn-action {
    color: #273460;
    background: transparent;
    border: 5px solid #48cccc;
    &:hover,
    &:focus {
        color: #273460;
        background: transparent;
        border: 5px solid #48cccc;
    }
}

.btn-white {
    color: #707070;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    &:hover,
    &:focus {
        color: #707070;
        background: #f2f2f2;
    }
}
.btn-grey {
    color: #fff;
    background: #707070;
    border-radius: 99px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    border: none;
    &:hover,
    &:focus {
        color: #fff;
        background: #707070;
    }
}

img {
    max-width: 100%;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1200px;
    }
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .content-container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .content-container {
        width: 95%;
    }
}

.with-line {
    display: inline-block;
    position: relative;
    span {
        z-index: 10;
        position: relative;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 6px;
        left: 28px;
        height: 8px;
        width: 100%;
        background: #3dffbe;
    }
}

.hint-block {
    color: #273460;
    font-size: 20px;
    line-height: 27px;
    background: rgba(72, 204, 204, 0.18);
    padding: 20px 64px 20px 8px;
    border-left: 10px solid #48cccc;
    border-radius: 10px;
    &.small {
        font-size: 14px;
        line-height: 25px;
        padding: 12px 44px 12px 8px;
    }
}

.form-item {
    input,
    textarea {
        border-radius: 6px;
    }
}

.ant-slider-track {
    background-color: #48cccc !important;
}

.assets-rule-item {
    background: #f9f9f9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    padding: 14px 24px;
    margin-bottom: 16px;
    position: relative;
    .ant-picker {
        width: 100%;
    }
    .form-item {
        div.label {
            margin-top: 0;
        }
    }
    .remove-btn {
        position: absolute;
        top: 12px;
        z-index: 10;
        cursor: pointer;
        font-size: 24px;
        right: 12px;
    }
}

.add-item-box {
    background: #f9f9f9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    padding: 40px 0;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}

.confirm-box {
    background: #fefefe;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 18px 22px;
    margin-bottom: 16px;
    border-radius: 15px;
    position: relative;
    .status {
        position: absolute;
        top: 8px;
        font-size: 16px;
        font-weight: 800;
        right: 8px;
        &.finish {
            color: #28bc81;
        }
        &.edit {
            color: #285ae4;
        }
    }
    .line {
        display: flex;
        margin: 8px auto;
        .name {
            flex: 1;
            color: #b7b7b7;
        }
        .value {
            flex: 2;
            color: #3a3a3a;
        }
    }
}
