.homepage {
    color: #273460;
    .section-title {
        font-size: 36px;
        line-height: 49px;
        font-weight: 800;
        display: inline-block;
        position: relative;
        span {
            z-index: 10;
            position: relative;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 6px;
            left: 28px;
            height: 8px;
            width: 100%;
            background: #3dffbe;
        }
    }
    .handle-btn {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        font-size: 32px;
        font-weight: 800;
        padding: 16px 0;
    }
    .feature-list {
        li {
            font-size: 26px;
            line-height: 44px;
            font-weight: 600;
        }
    }

    .banner {
        background: #f9f9f9;
        & > .container {
            padding: 132px 0;
        }
        .banner-title {
            font-size: 80px;
            line-height: 106px;
            font-weight: 800;
            margin-bottom: 64px;
            .highlight {
                color: #f9f9f9;
                vertical-align: text-top;
                font-size: 130px;
                text-shadow: 3px 3px #3dffbe, -3px -3px #3dffbe, 3px -3px #3dffbe, -3px 3px #3dffbe;
            }
        }
        .banner-btn {
            background: #fff;
            font-size: 36px;
            font-weight: 800;
            width: 400px;
            height: 210px;
            float: right;
            position: relative;
            div {
                position: absolute;
                left: 32px;
                padding-top: 64px;
                img {
                    vertical-align: top;
                    margin-right: 24px;
                }
            }
            &::after {
                content: "";
                display: block;
                width: 400px;
                height: 210px;

                border: 10px solid #48cccc;
                position: absolute;
                left: -36px;
                top: -36px;
            }
        }
    }
    .section-projects {
        & > .container {
            padding: 132px 0;
        }
        .section-title {
            margin-bottom: 44px;
        }
        .feature-list {
            margin-bottom: 64px;
        }
    }
    .section-ongoing {
        background: #f9f9f9;
        & > .container {
            padding: 132px 0;
        }
        .section-title {
            margin-bottom: 44px;
        }
        .feature-list {
            margin-bottom: 64px;
        }
    }
    .section-about {
    }

    .section-contact {
        background: #f9f9f9;
    }

    .project-item {
        // --progress: 1;
        // border: 1px solid #707070;
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
        padding: 20px 20px;
        margin-bottom: 55px;
        transition: 0.25s transform ease-in-out;
        //动效
        transform: scale(calc(1.3 - (0.3 * var(--progress)))) translateY(calc(30px * (1 - var(--progress))));
        opacity: var(--progress);
        &:last-child {
            margin-bottom: 0;
        }
        //动效
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .status {
                font-size: 20px;
                line-height: 27px;
                &.red {
                    color: #c73737;
                }
                &.green {
                    color: #2fbf47;
                }
            }
            .title {
                color: #010101;
                font-size: 20px;
                line-height: 27px;
                font-weight: 800;
            }
            .project-name {
                color: #010101;
                font-size: 20px;
                line-height: 27px;
                display: inline-block;
                font-weight: 800;
            }
            .apy {
                font-size: 18px;
                line-height: 32px;
                color: #3faa4d;
                margin-right: 24px;
                display: inline-block;
            }
            .date {
                color: #010101;
                font-size: 20px;
                line-height: 27px;
                display: inline-block;
                font-weight: 800;
            }
            .votes-available {
                font-weight: 800;
                color: #3faa4d;
                font-size: 14px;
                line-height: 19px;
            }
            .votes-none {
                color: #9c9c9c;
                font-size: 14px;
                line-height: 19px;
                font-weight: 800;
            }
        }
        .desc {
            color: #707070;
            font-size: 18px;
            line-height: 24px;
            margin: 24px 0 16px;
            width: 70%;
        }
        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-trans {
                padding: 0 38px;
                height: 44px;
                font-size: 16px;
            }
            .progress-bar {
                width: 50%;
            }
            .votes-num {
                font-size: 20px;
                padding: 9px 68px;
                line-height: 27px;
                color: #707070;
                border: 1px solid #707070;
                border-radius: 22px;
            }
        }
    }
    .voting-project-section {
        margin-bottom: 200px;
    }
    @media screen and (max-width: 768px) {
        .banner {
            padding: 0 0 72px;
        }
        .section-title {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 12px;
        }
        .section-subtitle {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 16px;
        }
        .feature-list {
            margin: 32px auto 64px;
            .feature-item {
                margin-bottom: 24px;
            }
        }
        .project-item {
            margin: 32px auto;
            width: 100%;
            .desc {
                font-size: 14px;
                line-height: 18px;
            }
            .top {
                display: block;
                .title {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 12px;
                }
                .apy,
                .date {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 4px;
                }
            }
            .bottom {
                .btn-trans {
                    height: 32px;
                    font-size: 14px;
                    padding: 0 12px;
                }
                .progress-bar {
                    width: 50%;
                }
                .votes-num {
                    font-size: 14px;
                    padding: 8px 8px;
                    line-height: 18px;
                }
            }
        }
        .voting-project-section {
            margin-bottom: 100px;
        }
    }
}
