.homepage {
    .featured-project {
        padding: 26px 48px;
        margin: 40px auto;
        border-radius: 12px;
        background: radial-gradient(
                96.13% 96.13% at 51.49% 100%,
                rgba(0, 255, 71, 0.07) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            radial-gradient(61.88% 432.18% at 100% 100%, rgba(0, 224, 255, 0.152) 0%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(118.75% 118.75% at 50% 0%, rgba(255, 0, 0, 0.094) 0%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(79.39deg, rgba(82, 0, 255, 0.116) 0%, rgba(255, 255, 255, 0) 67.77%),
            radial-gradient(93.88% 162.44% at 0% 0%, rgba(249, 0, 239, 0.124) 0%, rgba(196, 196, 196, 0) 100%);

        .title {
            font-size: 24px;
            margin-bottom: 12px;
        }
        .countdown{
            margin: 16px auto 0;
        }
        .desc {
            font-size: 14px 18px;
        }
        .progress-bar {
            margin: 16px auto;
        }

        .join-btn {
            color: #15163d;
            font-size: 18px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            display: block;
            border: 1px solid #db00ff;
            background: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            border-radius: 7px;
        }
        .homepage-banner {
            margin: 0 auto;
            display: block;
        }
    }
    .project-list {
        margin: 40px auto;
        .project-item {
            display: block;
            padding: 16px 24px;
            margin-bottom: 24px;
            border-radius: 12px;
            box-shadow: 4px 4px 4px rgba(235, 229, 181, 0.3);
            border: 1px solid #ece6b6;
            background: #fff;
            color: #15163d;
            .project-name {
                font-size: 18px;
                margin-bottom: 12px;
            }
            .desc {
                font-size: 14px;
            }
            .progress-bar {
                margin: 16px auto;
            }
            .join-btn {
                color: #15163d;
                font-size: 18px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                display: block;
                background: #ffec76;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                border-radius: 7px;
            }
            .date-wrapper {
                display: flex;
                align-items: top;
                justify-content: space-between;
                margin: 24px auto 0;
                .date-title {
                    text-align: center;
                    color: #9088a1;
                }
            }
        }
    }

    .all-projects{
        margin: 40px auto;
        .ant-table-wrapper{
            overflow: hidden;
            border-radius: 8px;
            .ant-table-thead > tr > th{
                background: #fff;
            }
            .apy{
                color: #289747;
            }

        }
    }

    @media screen and (max-width: 992px) {
    }
    @media screen and (max-width: 768px) {
    }
}
