.buy-dhm-page {
    text-align: center;
    .apy {
        margin: 32px auto 56px;
        .num {
            font-size: 36px;
            line-height: 145%;
        }
        .value {
            font-size: 14px;
            line-height: 145%;
            color: rgba(21, 22, 61, 0.5);
        }
    }
    .info-box {
        display: inline-block;
        padding: 20px 10px;
        .block {
            margin-bottom: 44px;
            .num {
                font-size: 36px;
                line-height: 145%;
            }
            .value {
                font-size: 18px;
                line-height: 145%;
            }
        }
        .InputaMount{
            width: 300px;

        }
    }
}
